/* Desktop */
#header_carousel .carousel-inner { height: 700px; overflow: hidden; }
#header_carousel .carousel-item img { width:100%; height:100%; object-fit:cover; }

/* Tablet */
@media (max-width: 991.98px){
  #header_carousel .carousel-inner { height: 420px; }
}

/* Mobile */
@media (max-width: 575.98px){
  #header_carousel .carousel-inner { height: 280px; }
}
.custom-navbar {
    background: linear-gradient(0deg, #141214 0%, #110a12 100%); 
    color: white;
}

.custom-navbar,
.custom-navbar .navbar-nav .nav-link,
.custom-navbar .navbar-brand,
.custom-navbar .navbar-toggler {
  color: #fff !important;
}

.custom-navbar .nav-link:hover {
  color: #6bd2fb !important; /* Light blue */
  background-color: transparent; /* Optional: no background */
  transition: color 0.2s;
}

.feature {
    background: #c211ea;
    background: linear-gradient(0deg, #4b0461 0%, #e524ff 100%);
}
* {
  scroll-behavior: smooth;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    background: linear-gradient(0deg, #a4a4a490 0%, #f5ecf6 100%);
    transition: all 0.3s ease-in-out;
}
/* Add this at the end of your CSS file */

.bg_cart_1 {
    background: linear-gradient(0deg, #4b0461 0%, #e524ff 100%);/* Light grey, change as needed */
}
#card {
  background: #c211ea;
    background: linear-gradient(0deg, #4b0461 0%, #e524ff 100%);
    padding-left: 10%;
    border-radius: 10px;
    color: white;
}
#card_right {
  background: #c211ea;
    background: linear-gradient(0deg, #4b0461 0%, #e524ff 100%);
    padding-left: 10%;
    border-radius: 10px;
    color: white;
}
#card_sum
{
    background: #c211ea;
    background: linear-gradient(0deg, #4b0461 0%, #e524ff 100%);
    padding-left: 10%;
    border-radius: 10px;
    color: white;
}

.cart {
    background: linear-gradient(0deg, white 0%,white 100%);
}

#check_card
{
   background: #c211ea;
    background: linear-gradient(0deg, #4b0461 0%, #e524ff 100%);
    
    border-radius: 10px;
    color: white;
}
#ordercheck_card2
{
    background: linear-gradient(0deg, #3f1345 0%, #bc14d2 100%);
  
    border-radius: 10px;
    color: white;
   
    padding: 15%;
}


#ordercheck_card1
{
    background: linear-gradient(0deg, #e524ff 0%, #e524ff 100%);
  
    border-radius: 10px;
    color: white;
   
    padding: 15%;
}

#order_confirmation
{
    background: linear-gradient(0deg, #08285fd2 0%, hwb(190 17% 4%) 100%);
    color: white;
    border-radius: 10px;
}
.error {
  color: red;
  font-size: 0.95em;
  margin-top: 4px;
  font-weight: normal;
}